*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;


}

body {
    display: flex;
    display: grid;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: black;
    color: #fefefe;
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;

}

.main {
    display: flex;
    align-items: stretch;

    max-width: 1100px;
    margin: 0 auto;
    gap: 20px;
}

h1 {
    font-size: 85px;
    line-height: 1.2;
    text-align: center;
    font-family: 'VT323', sans-serif;
    text-decoration-style: kaleidoscope;
    text-decoration-line: underline blink;
    text-shadow: 0 0 10px #85D4E5;
    text-decoration-color: #85D4E5;
    text-underline-offset: 20%;
}

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 20px;
    margin-right: 30px;
    margin-left: 40px;

}

header {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#colorPicker {
    height: 100px;
    width: 100px;
    border-radius: 50px;

}


#colorPicker::-webkit-color-swatch {
    border-radius: 50%;
}

input[type='color'] {
    background-image: linear-gradient(to right, rgba(187, 128, 223, 0.917), rgba(214, 118, 185, 0.926), rgba(231, 220, 75, 0.78), rgb(127, 159, 112), rgb(128, 239, 182), rgba(96, 215, 239, 0.946), rgb(238, 191, 130));
}


input[type='color']:hover {
    transform: scale(1.05);

}

.colorBtn {
    width: 200px;
    height: 40px;
    box-shadow: rgba(31, 177, 165, 0.24) 0px 3px 8px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    background-color: grey;
    border: 2px solid #85D4E5;
    border-radius: 15px;


}

.colorBtn:hover {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.05);
}

.rainbowBtn {
    background-image: linear-gradient(to right, rgb(226, 75, 75), rgb(212, 177, 39), rgb(96, 141, 92), rgb(141, 227, 141), rgb(99, 205, 226), rgb(188, 124, 233), rgba(240, 106, 211, 0.96));
    width: 200px;
    height: 40px;
    font-family: 'press start 2p', cursive;
    font-size: 12px;
    border: 2px solid #85D4E5;
    border-radius: 15px;
}

.rainbowBtn:hover {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.05);
}

.clearBtn {
    background-color: white;
    color: black;
    width: 200px;
    height: 40px;
    font-family: 'press start 2p', cursive;
    font-size: 12px;
    border: 2px solid #85D4E5;
    border-radius: 15px;
}

.clearBtn:hover {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.05);
}

.eraserBtn {
    background-color: rgba(255, 255, 255, 0.668);
    color: black;
    width: 200px;
    height: 40px;
    font-family: 'press start 2p', cursive;
    font-size: 12px;
    border: 2px solid #85D4E5;
    border-radius: 15px;
}

.eraserBtn:hover {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.05);
}

#size-value {
    margin-bottom: 0px;
    font-size: 20px;
}

#sizeSlider {
    background-color: seagreen;

}

#sizeSlider input[type='range'] {
    -webkit-appearance-: none;
    background-color: seagreen;
}

#sizeSlider input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 25px;
    background: var(--primary-light);
}

#sizeSlider input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: WHITE;
}

#grid {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: darkgray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 280px;
    align-self: center;
    justify-self: center;

}


.gridItem {
    -webkit-user-select-: none;

}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.fa-github {
    color: #fefefe;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

@media (max-width: 1200px) {
    .main {
        justify-content: center;
    }
}

@media (max-width: 850px) {
    .main {
        gap: 50px;
    }

    #settings {
        width: 150px;
        gap: 16px;
    }

    #size-value {
        margin-bottom: -4px;
    }

    #grid {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 650px) {
    .header {
        font-size: 50px;
    }

    .main {
        flex-direction: column-reverse;
    }

    #grid {
        width: 300px;
        height: 300px;
    }
}